<%= render 'header' %>
<div id="area_contenuti">

<%= form_tag(vlan_vlan_ip_send_email_path, :method=>'post') do %>	



  <div class="riga">
    <div class="col_33">
      <div class="field">      	
        <%= label_tag 'recipient', 'A:' %><br />
        <%= text_field_tag 'recipient', '', :size => 50, :maxlength => 100 %>
      </div>
    </div>
  </div>  
  <div class="riga">
    <div class="col_33">
      <div class="field">
        <%= label_tag 'subject', 'Oggetto:' %><br />
        <%= text_field_tag 'subject', 'Assegnazione IP', :size => 50, :maxlength => 100, :readonly => true %>
      </div>
    </div>
  </div>
  <div class="riga">
  	<div class="col_100">  
      <div class="field">
        <%= label_tag 'text', 'Messaggio:' %><br />
        <%= text_area_tag 'text', 
          "Dati di configurazione host.\nHostname: "+@vlan_ip.hostname+"\nNote: "+@vlan_ip.note+"IP: "+@vlan_ip.ip+"\nNetwork: "+@vlan.network+"\nNetmask: "+@vlan.netmask+"\nGateway: "+@vlan.gateway+"\nDNS: "+@vlan.dns,         
        :cols => 150, :rows => 10, :readonly => true %>
      </div>
    </div>
  </div>  
  
  <div class="area_rispetto">
    <%= link_to t('actions.back'), vlan_vlan_ips_path, :class => "pulsante" %>
    <%= submit_tag "Invia", :class => "pulsante" %>
  </div>
  <div class="content_closer_thin"> </div>
 
 <% end %>
  
</div>
