<ul id="banner_orizzontale">
  <li>Vlan: <%= @vlan.vlan_code %></li>
  <li>Network: <%= @vlan.network %></li>
  <li>Netmask: <%= @vlan.netmask %></li>
  <li>Host Min: <%= @vlan.host_min %></li>
  <li>Host Max: <%= @vlan.host_max %></li>
  <li>Host Num: <%= @vlan.hosts_num %></li>
  <li>Gateway: <%= @vlan.gateway %></li>	
  <li>DNS: <%= @vlan.dns %></li>	
</ul>	
<%= render 'header' %>
<div id="area_contenuti">
<table>
  <tr>
    <th class='centrato'>Vlan</th>
    <th>Ip</th>
    <th>Hostname</th>
    <th class='centrato'><%= t('activerecord.attributes.vlan_ip.status') %></th>
    <th>Note</th>
    <th class='centrato' colspan=2><%= t('actions.actions') %></th>
  </tr>

<% @vlan_ips.each_with_index do |vlan_ip, index| %>
  <tr
    <% if index.odd? %> class='riga_alternata' <% end %>
  >
    <td class='centrato'><%= vlan_ip.vlan_id %></td>
    <td><%= vlan_ip.ip %></td>
    <td><%= vlan_ip.hostname %></td>
    <td class='centrato'><% if vlan_ip.status %><%= image_tag("icone/18/ico_approva_18.gif", :alt => "Stato: utilizzato") %><% end %></td>
    <td><%= vlan_ip.note %></td>
    <td class='centrato'><%= link_to t('actions.edit'), edit_vlan_vlan_ip_path(vlan_ip.vlan_id, vlan_ip) %></td>
    <td class='centrato'><%= link_to t('actions.destroy'), vlan_vlan_ip_path(vlan_ip.vlan_id, vlan_ip), method: :delete, data: { confirm: t('actions.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<div class="toolbar_tabella">
<ul class="tool_utility">
<li>
<%= link_to image_tag("plus_24.png", :border=>0), new_vlan_vlan_ip_path %>
<%= link_to t('actions.new') + " " + t('activerecord.models.vlan_ip'), new_vlan_vlan_ip_path %>
</li>
</ul>
</div>
</div>
