<div class="container-fluid">	
	
<%= form_for(@vlan) do |f| %>

<% if @vlan.errors.any? %>
  <div class="alert alert-danger">
  	<a class="close" data-dismiss="alert">&#215;</a>
    <div><b> <%= t('actions.attention') %>
      <%= pluralize(@vlan.errors.count, t('activerecord.errors.messages.error'), t('activerecord.errors.messages.errors')) %>:</b>
    </div>
    <ul>
    <% @vlan.errors.full_messages.each do |msg| %>    
      <li class="fatal_error"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row col-md-12">
<fieldset class="vlan col-md-offset-2 col-md-8 col-sm-12">
  <legend>Definisci vlan (1..4094) e network:</legend>
  <div class="col-md-offset-2 col-md-3 col-sm-4">
  <div class="field form-group">
    <%= f.label :vlan_code %><br />
    <%= f.number_field :vlan_code, :size => 4, :class => "numero", :readonly => @change %>
  </div>
  </div>
  <div class="col-md-3 col-sm-4">
  <div class="field form-group">
    <%= f.label :network %><br />
    <%= f.text_field :network, :size => 18, :placeholder => 'xxx.xxx.xxx.xxx/xx', :readonly => @change %>
  </div> 
  </div>
  <div class="col-md-3 col-sm-4">
  <div class="actions form-group">
    <%= f.label "Calcola Rete" %><br />
    <%= button_tag(type: 'submit', class: "btn btn-primary", :name => 'set_network', :value => "set") do %>
    <span class="glyphicon glyphicon-refresh"></span>
    <% end %>
  </div> 
  </div>
</fieldset>
</div>
<br />
<div class="row">
  <div class="col-md-offset-2 col-md-3 col-sm-4">
  <div class="form-group">
    <%= f.label :netmask %><br />
    <%= f.text_field :netmask, :size => 15, :placeholder => 'xxx.xxx.xxx.xxx', :readonly => true %>
  </div>
  </div>
  <div class="col-md-3 col-sm-4">
  <div class="form-group">
    <%= f.label :host_min %><br />
    <%= f.text_field :host_min, :size => 15, :placeholder => 'xxx.xxx.xxx.xxx', :readonly => true %>
  </div>
  </div>
  <div class="col-md-3 col-sm-4">
  <div class="form-group">
    <%= f.label :host_max %><br />
    <%= f.text_field :host_max, :size => 15, :placeholder => 'xxx.xxx.xxx.xxx', :readonly => true %>
  </div>
  </div> 
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-3 col-sm-4">
  <div class="form-group">
    <%= f.label :hosts_num %><br />
    <%= f.number_field :hosts_num, :size => 10, :class => "numero", :readonly => true %>
  </div>
  </div>
  <div class="col-md-3 col-sm-4">  	
  <div class="form-group">
    <%= f.label :gateway %><br />
    <%= f.text_field :gateway, :size => 15, :placeholder => 'xxx.xxx.xxx.xxx' %>
  </div>
  </div>
  <div class="col-md-3 col-sm-4">  	  
  <div class="form-group">
    <%= f.label :dns %><br />
    <%= f.text_field :dns, :size => 15, :placeholder => 'xxx.xxx.xxx.xxx' %>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8 col-sm-12">  	  
  <div class="form-group">
    <%= f.label t('activerecord.attributes.vlan.description') %><br />
    <%= f.text_area :description, :cols => 150, :rows => 10, :class =>"vlan_textbox" %>
  </div>
  </div>
</div>

 <div class="col-md-offset-2 col-md-8 col-sm-12">
   <%= link_to vlans_path, :class => "btn btn-default btn-lg", :title => t('actions.back'), :alt => t('actions.back') do %>
     <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>
   <% end %>	
   <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg") do %>
     <span class="glyphicon glyphicon-ok glyphicon-inverse"></span> <%= t('actions.update') %>  
   <% end %>
 </div> 

<% end %>
</div>
<br /><br />
