<div class="table-responsive">
<%= render 'header' %>
<table class="table table-striped table-condensed table-hover">
  <thead>	
  <tr>
    <th class="panel-lispa">Vlan</th>
    <th class="panel-lispa">Network</th>
    <th class="panel-lispa">Netmask</th>
    <th class="panel-lispa">Host IP min</th>
    <th class="panel-lispa">Host IP max</th>
    <th class="panel-lispa">Hosts num</th>
    <th class="panel-lispa">Assegnati</th>
    <th class="panel-lispa">Liberi</th>
    <th class="panel-lispa">Gateway</th>
    <th class="panel-lispa">Dns</th>
    <th class="panel-lispa"><%= t('activerecord.attributes.vlan.description') %></th>
    <th class="panel-lispa" colspan=2><%= t('actions.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @vlans.each_with_index do |vlan, index| %>
  <tr>
    <td><%= link_to vlan.vlan_code, vlan_vlan_ips_path(vlan) %></td>
    <td><%= vlan.network %></td>
    <td><%= vlan.netmask %></td>
    <td><%= vlan.host_min %></td>
    <td><%= vlan.host_max %></td>
    <td><%= vlan.hosts_num %></td>
    <% if vlan.hosts_count %>
    <td><span class="label label-danger"><%= vlan.used %></span></td>
    <td><span class="label label-success"><%= vlan.free %></span></td>
    <% end %> 
    <td><%= vlan.gateway %></td>
    <td><%= vlan.dns %></td>
    <td><%= vlan.description %></td>
    <td>
      <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'),
      edit_vlan_path(vlan), :class => "btn btn-primary", :title => t('actions.edit'), :alt => t('actions.edit'), data: {toggle: "tooltip", placement: "left" } %>   
    </td>
    <td>
      <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'),
      vlan, method: :delete, data: { confirm: t('actions.are_you_sure'), toggle: "tooltip", placement: "left" }, 
      :class => "btn btn-default", :title => t('actions.destroy'), :alt => t('actions.destroy') %> 
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>