<p><%= t('devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.requested_change_your_password') %></p>

<p><%= link_to t('devise.actions.change_my_password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('devise.mailer.not_request_this') %></p>
<p><%= t('devise.mailer.password_wont_change') %></p>
