<div id="area_utente">
  <span class="dati_utente">
     <span class="ico_utente"></span>
     <% if user_signed_in? %>
	   Utente: <%= current_user.email %>
	 <% end %>  
  </span>	
  <ul class="links">
	<li class="first">
    <% if user_signed_in? %>
	<li class="first">
      <%= link_to image_tag("icone/18/ico_cambioIdentita_18.gif", :border=>0), edit_user_registration_path %>
      <%= link_to('Modifica profilo', edit_user_registration_path) %>
    </li>
    <li>
      <%= link_to image_tag("icone/18/ico_rifiuta_18.gif", :border=>0), destroy_user_session_path, :method=>'delete' %>	
      <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>    	  
    <% else %>
	<!-- li -->
      <!--%= link_to image_tag("icone/18/ico_utente_18.gif", :border=>0), new_user_registration_path %-->
      <!--%= link_to('Registrazione', new_user_registration_path)  %-->
    <!--/li-->
	<li>
      <%= link_to image_tag("icone/18/ico_utente_18.gif", :border=>0), new_user_registration_path %>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
    <% end %>
  </ul>
</div>