<div class="area_utente">
  <div class="container-fluid">
    <span class="nome_utente">
	  <span class="glyphicon glyphicon-user white" role="presentation"></span>
      <% if user_signed_in? %>
	    Utente: <%= current_user.email %>
	  <% end %>  
    </span>
    <nav class="tools_utente hidden-xs pull-right" role="menu">
    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path, :role => "menuitem" do %>
        <span class="glyphicon glyphicon-cog white" role="presentation"></span> Modifica profilo   
      <% end %> 
      <%= link_to destroy_user_session_path, :method=>'delete', :role => "menuitem" do %>
        <span class="glyphicon glyphicon-off white" role="presentation"></span> Logout    
      <% end %> 
    <% else %>
	  <%= link_to new_user_registration_path, :role => "menuitem" do %>
        <span class="glyphicon glyphicon-cog white" role="presentation"></span> Nuovo Utente   
      <% end %> 
      <%= link_to "#", :role => "menuitem", :id => 'login',  data: {toggle: "modal", target: "#login_modal", keyboard: "false" }  do %>  
        <span class="glyphicon glyphicon-cog white" role="presentation"></span> Login
      <% end %> 
      <%= render 'layouts/login_modal' %>
    <% end %>
    </nav>
  </div>
</div>