<!DOCTYPE html>
<html>
<head>
  <title>Webip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/header" %>
  <%= render :partial => "layouts/area_utente" %>
  <%= render 'layouts/messages' %>
  <div class="container-fluid-list">
    <%= yield %>
  </div>
  <%= render :partial => "layouts/footer" %>
<script>
// Shorthand for $( document ).ready()
$(function () {
  /* Tooltips */
  $('[data-toggle="tooltip"]').tooltip();
  /* Accordion */
  $(".panel-collapse").on("hide.bs.collapse", function(){
    gs = this.previousElementSibling.getElementsByClassName("glyphicon-minus");
	if (gs.length>0) gs[0].className = gs[0].className.replace("minus", "plus");
  });
  $(".panel-collapse").on("show.bs.collapse", function(){
    gs = this.previousElementSibling.getElementsByClassName("glyphicon-plus");
	if (gs.length>0) gs[0].className = gs[0].className.replace("plus", "minus");
  });
});
</script>
</body>
</html>
